./POSCAR
./POSCARs
#./analyze_defect.py
./correction.json
./correction.json_src
./defect
./defect_corrector.py
./defect_property.py
./defect_src
./defect_structure.txt
./dielectric
./perfect
./test_defect_corrector.py
./test_defect_property.py
./to_make_defect.json
./to_read_defect.json
