./Li2TiO3
./Li2TiO3_original
./Li2TiO3_shell
./POSCAR
./POSCARs
./__pycache__
./correction.json
./correction.json_src
./defect
./defect_property.py
./defect_src
./defect_structure.txt
./dielectric
./energy_correction.py_formatted_string
./perfect
./test_defect_corrector.py
./test_defect_property.py
./to_make_defect.json
./to_read_defect.json
